.form{
    margin-top: 15%;
    margin-left: 20%;
}

.table{
    margin-top: 15%;
    margin-right: 20%;
}

.input{
    width: 50%;
}

.text{
    margin-bottom: -5px;
}

.botona{
    margin-right: 45px;
}